.wrapper-new-game {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.formNewGame{
    display: block;
    margin: 30px auto;
    width: 520px;
    min-height: 570px;
    background-image: url("./background.png");
    background-size: 100% 100%;
    padding-top: 5px;
}

#formNewGameHeading{
    height: 55px;
    width: 510px;
    background-color: #00ffff;
    margin:0 auto;
    line-height: 50px;
    padding-left: 17px;
    font-size: 30px;
    font-size:30px;
    text-align: center;
}
#nameGameHeading{
    color: white;
    margin: 33px 0 0 107px;
    font-size: 20px;
}
#nameGameValue{
    margin: 8px 0px 0px 104px;
    width: 311px;
    height: 27px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
}
#descriptionHeading {
    color: white;
    margin: 19px 0 0 103px;
    font-size: 20px;
}
#descriptionValue{
    margin: 8px 0px 0px 104px;
    width: 311px;
    height: 63px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
    resize: vertical;
}
#questionsHeading{
    color: white;
    margin: 19px 0 0 103px;
    font-size: 20px;

}
#questionsValue{
    margin: 8px 0px 0px 104px;
    width: 311px;
    height: 31px;
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
    resize: vertical;

}
#addQuestionsButton{
    display: block;
    margin: 7px auto 11px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-image: url("./addQuestionButton.png");
    background-repeat: no-repeat;
    background-size: 100% 111%;
    outline: none;
}
#addQuestionsButton:active{
    /*-------------variant1-------------*/
    /*background-size: 103% 114%;*/
    /*background-position: 0px 0px;*/
    /*width: 34px;*/
    /*height: 34px;*/
    /*margin: 5px auto 9px;*/

    /*-------------variant2-------------*/
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
#labelQuestions{
    display: block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
}
#createGameButton{
    margin: 30px 0 30px 70px;
    width: 150px;
    height: 30px;
    background-color: #ff6c00;
    border-radius: 8px;
    outline: none;
    font-size: 20px;

}
#createGameButton:active{
    /*-------------variant1-------------*/
    /*-webkit-transform: scale(1.2);*/
    /*-ms-transform: scale(1.2);*/
    /*transform: scale(1.2);*/

    /*-------------variant2-------------*/
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
#createGameCancelButton{
    margin: 30px 0 0 70px;
    width: 150px;
    height: 30px;
    background-color: #ff6c00;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
}
#createGameCancelButton:active{
    /*-------------variant1-------------*/
    /*-webkit-transform: scale(1.2);*/
    /*-ms-transform: scale(1.2);*/
    /*transform: scale(1.2);*/

    /*-------------variant2-------------*/
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

#questionsField{
    margin: 0 auto;
    width: 311px;
    min-height: 55px;
    background-color: white;
    font-size: 18px;
    border-radius: 7px;
    padding-left: 10px;
}

.questionOnNewGame > span > pre{
    color: #757575;
    font-weight: normal;
    font-size: 18px;
    line-height: 0.7;
    border: none;
    background-color: white;
    border-radius: 7px;
}