.container1 {
	display: flex;
	justify-content: space-between;
}
a {
	line-height: 35px;
}
.gameCard>div>p>span {
	font-weight: bold;
	color: #09233c;
}
.fieldSavedGames{
	margin: 27px 0 0 100px;
}
.fieldSavedGames>div{

}
.wrapper-dashboard {
	padding-top: 50px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.windowSavedGame{
	width: 741px;
	margin: 0px auto;
	background-image: url("./background.png");
	background-size: cover;
	border-radius: 5px;
	/*box-shadow: 0 1px 13px 4px black;*/
}
/*.containerWindowSavedGame{*/
	/*width: 1170px;*/
	/*margin: 0;*/
	/*padding: 0 0 20px 0;*/
/*}*/
.gameCard{
	border-radius: 5px;
	width: 399px;
	min-height: 124px;
	background-color: white;
	padding: 10px;
	/*box-shadow: 0 0 7px 1px black;*/
	margin: 0px 0 10px 0;

}
.gameCard>div{
	margin: 0;
	padding:0;
}
.forURL>a{
	color: black;
}
.forURL {
	border-radius: 15px;
	background-color: white;
	height: 18px;
	padding-left: 10px;
	margin-bottom: 5px;
	font-size: 10px;
	text-decoration: underline;
}
.delButton {
	width: 15px;
	height: 15px;
	background-image: url('./Delete-icon.png');
	background-size: 100%;
	float: right;
}
.windowSavedGame>.container{
	width: 1170px;
	margin: 0;
	padding: 0 0 20px 0;
}
.gameName{
	display: inline;
	width: 154px;
	background: #0efeff;
	font-size: 20px;
}
.gameName>span{
	color:#023769;
}
.gameCard>div>p{
	margin: 15px 0 0 10px;
}